#ner-prompt {
  z-index: 1000;
  position: fixed;
  top: 10px;
  right: 10px;

  border-radius: 0.25rem;
  background-color: white;
  padding: 1rem;
  box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, .2);

  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
}

.ner-button {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.2em;

  border-style: none;
  border-radius: 0.25rem;
  padding: 0.5rem;
}

.ner-button:hover {
  filter: brightness(1.1);
}

.ner-button:active {
  filter: brightness(1.2);
}

.ner-loading {
  display: inline-block;
  margin: 0 auto;
  width: 40px;
  height: 40px;
}

.ner-loading:after {
  content: " ";
  display: block;
  width: 32px;
  height: 32px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #000000;
  border-color: #000000 transparent #000000 transparent;
  animation: rotation 2s infinite linear;
}


#ner-container {
  display: flex;
  justify-content: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px;
  line-height: 1.6em;
}

#ner-content {
  max-width: 700px;
  width: 100vw;
  margin: 5rem auto;
}

h1,
h2,
h3 {
  font-weight: bold;
  margin-top: 0.5em !important;
  margin-bottom: 0.5em !important;
}

figure {
  margin: 0.5em !important;
}

.named-entity {
  position: relative;
  padding: 0.25rem;
  border-radius: 0.25rem;
}

.named-entity::before {
  border-radius: 0.25rem;
  padding: 0.25rem;
  border-style: solid;
  border-width: 1px;
  background-color: white;
  display: none;

  position: absolute;
  bottom: calc(100% + 0.25rem);
  left: 0px;

  font-size: 1rem;
  font-weight: normal;
  font-style: normal;
}

.named-entity:hover::before {
  display: block;
}

.Miscellaneous {
  background-color: #E3B5C7;
}

.Miscellaneous::before {
  content: 'Micsellaneous';
}

.Location {
  background-color: #6DD3CE;
}

.Location::before {
  content: 'Location';
}

.Person {
  background-color: #C8E9A0;
}

.Person::before {
  content: 'Person';
}

.Organization {
  background-color: #F7A278;
}

.Organization::before {
  content: 'Organization';
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(359deg);
  }
}